:root {
  --skyblue: #88d5fe;
  --seafoam: #83ffcd;
  --highlight: #83ffcd;
  --dark: #33323d;
  --dark-mask: #33323d44;
  --dark-mask-clear: #33323d00;
}

/* ----------------------------
   General Styles
   ---------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Open Sans', Verdana, sans-serif;
  color: var(--dark);
  background-color: white;
}

body p {
  position: relative;
  font-weight:normal;
}

.inline-link {
  padding: 2px 5px;
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  background-color: #FFFFFF44;
  transition: 0.2s;
}

.inline-link:hover {
  color: var(--highlight);
  background-color: var(--dark);
  transition: 0.2s;
}

/* ----------------------------
   Header / Top Bar Styles
   ---------------------------- */

#top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: var(--dark);
}

#name {
  padding: 10px 15px 10px 50px;
  font-size: 40px;
  font-weight: bold;
  color: var(--dark);
  background-color: var(--highlight);
}

.nav-link {
  position: relative;
  z-index: 1;
  margin: 0 30px;
  padding: 5px;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  color: var(--highlight);
  transition: 0.2s;
}

.nav-link:hover {
  transition: 0.2s;
  color: var(--dark);
}

.nav-link::after {
  position: absolute;
  z-index: -1;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 3px;
  content: '';
  background-color: var(--highlight);
  transition: 0.2s;
}

.nav-link:hover::after {
  transition: 0.2s;
  height: 100%;
}

/* ----------------------------
   Header / Banner Styles
   ---------------------------- */

#banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 200px;
  background-image: url('../images/biochembanner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

#avatar {
  width: 250px;
  height: 250px;
  border-radius: 300px;
  margin: -20px;
  box-shadow: 0px 0px 0px 10px var(--dark);
}

#subtitle {
  padding: 15px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: var(--dark);
  background-color: var(--highlight);
}

/* ----------------------------
   Main Styles
   ---------------------------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #DDD; */
  background: linear-gradient(var(--skyblue),var(--seafoam));
}

.main-section {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
  
.main-section aside {
  position: relative;
  flex: 0.7 0 0;
  font-size: 40px;
  padding-left: 5%;
  font-weight: bold;
  text-align:right;
  line-height: 1.25;
  padding-right: 40px;
}

.main-section aside::after {
  position: absolute;
  display: block;
  content: '';
  top: 0px;
  right: 20px;
  width: 3px;
  height: 100%;
  background-color: var(--dark);

}

.main-section .main-content {
  flex: 3 0 0;
  padding-right: 5%;
}

.main-section #about-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#folio {
  display: flex;
  flex-wrap: wrap;
}

.folio-link {
  display: flex;
  position: relative;
  width: 46%;
  height: 200px;
  border: 5px solid var(--highlight);
  overflow: hidden;
  margin: 2%;
}

.folio-link:first-of-type {
  width: 96%;
  height: 350px;
}

.folio-link img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0px;
  top: 0px;
}

.folio-link::after {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  z-index: 2;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--dark-mask);
  transition: 0.5s;
}

.folio-link:hover::after {
  transition: 0.5s;
  background-color: var(--dark-mask-clear);
}

.folio-link-text {
  position: absolute;
  z-index: 3;
  left: 0px;
  bottom: 30px;
  color: var(--dark);
  padding: 10px;
  background-color: var(--highlight);
}

.folio-link-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.folio-link-subtitle {
  font-weight: normal;
  font-size: 14px;
}

#contact-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-link {
  position: relative;
  z-index: 1;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--dark);
  transition: 0.2s;
}

.contact-link:hover {
  transition: 0.2s;
  color: var(--highlight);
}

.contact-link::after {
  position: absolute;
  z-index: -1;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 3px;
  content: '';
  background-color: var(--dark);
  transition: 0.2s;
}

.contact-link:hover::after {
  transition: 0.2s;
  height: 100%;
}

/* ----------------------------
   Media Queries
   ---------------------------- */

@media screen and (max-width: 980px) {
  #top-bar {
    flex-direction: column;
    padding: 0px;
  }

  #name {
    width: 100%;
    font-size: 50px;
    padding: 20px 0 20px 0;
    text-align: center;
  }

  nav {
    padding: 20px 0 20px 0;
    justify-content: center;
  }

  .nav-link {
    margin: auto 5px;
  }
  
  .main-section {
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: 30px auto;
  }

  .main-section aside {
    position: relative;
    text-align: left;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 50px;
  }

  .main-section aside::after {
    position: absolute;
    z-index: 0;
    left: 0px;
    bottom: 0px;
    top: unset;
    display: block;
    width: 100%;
    height: 3px;
    content: '';
    background-color: var(--dark);
  }

  .main-section .main-content {
    padding: 0px;
  }

}

@media screen and (max-width: 768px) {

  .nav-link {
    font-size: clamp(2vw,4vw,24px);
  }

  #banner {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 250px;
  }

  #avatar {
    margin: 0px;
    margin-top: -30px;
  }
  
  #subtitle {
    position: absolute;
    bottom: -10px;
    padding: 15px;
    margin-right: 0px;
    font-size: clamp(10px, 6vw, 24px);
    font-weight: bold;
    color: var(--dark);
    background-color: var(--highlight);
  }

  .folio-link {
    display: flex;
    position: relative;
    width: 96%;
    height: 200px;
    border: 5px solid var(--highlight);
    overflow: hidden;
    margin: 2%;
  }

  .folio-link:first-of-type {
    width: 96%;
    height: 200px;
  }

  #contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .contact-link {
    position: relative;
    z-index: 1;
    padding: 5px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--dark);
    transition: 0.2s;
  }



}